/* the props */
@import "https://unpkg.com/open-props";
/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";
:root {
  --cabinet-background: rgb(8, 84, 71);
  --cabinet-anchor: rgb(204, 160, 84);
  --cabinet-basecolor: rgb(224, 224, 224);
  --cabinet-altcolor: rgb(34, 34, 34);
}

body {
  padding: 1em;
  width: 100%;
  background: var(--cabinet-background);
  color: var(--cabinet-basecolor);
}

a, a:visited, a:hover {
  color: var(--cabinet-anchor);
}

strong {
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 1em;
  text-align: center;
  font-weight: bold;
}
nav a, nav span {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: var(--radius-round);
  margin-inline: 0.5em;
}
nav a {
  background: var(--cabinet-altcolor);
}

hr {
  margin-block: 1em;
}

h1 {
  font-size: var(--font-size-6);
  text-align: center;
  max-inline-size: 100%;
  margin-bottom: 1em;
}

p {
  line-height: 2;
}

.brand__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bottle__listing {
  display: flex;
  gap: 1em;
  margin-block: 1em;
  align-items: center;
  align-content: center;
}

.label__thumbnail {
  width: 100px;
  height: 100px;
}

figure.primary {
  max-width: 30%;
}

.varietals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: var(--size-2);
}
.varietals div {
  text-align: center;
}
.varietals img {
  border-radius: var(--radius-2);
}

.map__cluster {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-2);
}
.map__cluster img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

figure.producer_secondary {
  max-width: 25%;
}
figure.producer_secondary img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bottling__index {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 2em;
}

footer {
  text-align: center;
  padding-block: 2em;
}
footer img {
  width: 25%;
  height: auto;
  margin-inline: auto;
}

.tab__index {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  margin-block: 2em;
}

.bottling__detail__grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}
