
html {
	background-color: #eee;
	font-family: georgia;
}

body {
	margin: 0 auto;
	max-width: 960px;

	background-color: #eee;
}

h1, h2, h3 {
	font-family: sans-serif;
}

img {
	width: 100%;
	height: auto;
}